/* Container for the landing section */
.landing {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen height for the landing section */
  overflow: hidden; /* Ensures the video doesn't overflow */
}

/* Make the video cover the entire background */
#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  background-color: black; /* Adds a black background if there are empty spaces */
  z-index: -1;
}

body {
  font-family: 'DM Sans', sans-serif;
}

/* Overlay content for video section */
.overlay {
  position: relative;
  height: 100%;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start; /* Align content to the left */
  padding-left: 40px; /* Add padding for spacing */
  color: white;
  text-align: left; /* Align text left */
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.overlay p {
  font-size: 1rem;
  margin-left: 2rem;
}

/* Ensure links look like normal text */
.overlay a {
  color: inherit; /* Inherit the text color (so it doesn't look like a traditional blue link) */
  text-decoration: none; /* Remove underline */
}

.overlay a:hover {
  cursor: pointer; /* Change cursor to pointer (hand) on hover */
}

.links {
  margin-top: 1.5rem;
  margin-left: 2rem;
}

/* Links (GitHub and LinkedIn icons) */
.links a {
  font-size: 1.3rem;
  color: white;
  margin-right: 10px;
  transition: color 0.3s, background-color 0.3s;
}

.links a:nth-child(1):hover {
  color: #333; /* GitHub hover color */
}

.links a:nth-child(2):hover {
  color: #0077b5; /* LinkedIn hover color */
}

/* Instagram icon with smooth transition from white to gradient */
.links a:nth-child(3) {
  color: white;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  transition: color 0.3s ease;
}

.links a:nth-child(3):hover {
  color: transparent;
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  -webkit-background-clip: text;
  background-clip: text;
}

/* About Me Section */
.about-me {
  padding: 80px 20px;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  margin-top: 0;
}

.about-me h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-me p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

::-webkit-scrollbar:horizontal {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: rgb(147, 149, 150);
  border-radius:10px;
} */